.custom-modal-background {
    background-color: #404040; /* Barva pozadí modálního okna */
}

.custom-modal-header {
    color: yellow; /* Barva textu nadpisu */
}

.custom-modal-body {
    background-color: #404040; /* Barva pozadí těla modálního okna */
}

.custom-form-floating {
    background-color: #fff; /* Barva pozadí vstupního pole */
    border-color: #ccc; /* Barva ohraničení vstupního pole */
}

.custom-input {
    color: #333; /* Barva textu vstupního pole */
}

.custom-label {
    color: #333; /* Barva textu nadpisu vstupního pole */
}

.custom-btn-primary {
    background-color: #007bff; /* Barva pozadí tlačítka */
    border-color: #007bff; /* Barva ohraničení tlačítka */
    color: #fff; /* Barva textu tlačítka */
}

.custom-btn-primary:hover {
    background-color: #0056b3; /* Barva pozadí tlačítka po najetí myší */
    border-color: #0056b3; /* Barva ohraničení tlačítka po najetí myší */
    color: #fff; /* Barva textu tlačítka po najetí myší */
}

.custom-text-secondary {
    color: #888; /* Barva textu sekundárního textu */
}
