.custom-modal-background {
    background-color: #404040; /* Barva pozadí modálního okna */
}

.custom-modal-header {
    background-color: #404040;
    color: #E0E0E0; /* Barva textu nadpisu */
}

.custom-modal-body {
    background-color: #404040; /* Barva pozadí těla modálního okna */
}

.custom-form-floating {
    background-color: #808080; /* Barva pozadí vstupního pole */
    border-color: #808080; /* Barva ohraničení vstupního pole */
}

.custom-input {
    color: #C0C0C0; /* Barva textu vstupního pole */
}

.custom-label {
    color: #202020; /* Barva textu nadpisu vstupního pole */
}

.custom-btn-primary {
    background-color: #FFD425; /* Barva pozadí tlačítka */
    border-color: #FFD425; /* Barva ohraničení tlačítka */
    color: #202020; /* Barva textu tlačítka */
}

.custom-btn-primary:hover {
    background-color: #DAB523; /* Barva pozadí tlačítka po najetí myší */
    border-color: #DAB523; /* Barva ohraničení tlačítka po najetí myší */
    color: #202020; /* Barva textu tlačítka po najetí myší */
}

.custom-text-secondary {
    color: #E0E0E0; /* Barva textu sekundárního textu */
}
