:root {
    --primary-color: #FDAD34;
    --secondary-color: #303030;
    --tercial-color: #404040;
    --text-color: #E0E0E0;
    --text-secondary-dark: #202020;
}

.welcome-message {
    font-size: 80px;
    text-align: center;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    z-index: 1 !important;
}

