:root {
    --primary-color: #FDAD34; /* Default primary color */
    --secondary-color: #404040; /* Default secondary color */
    --form-background-color: #404040; /* Default form background color */
    --text-color: #E0E0E0; /* Default text color */
}

body {
    background-color: var(--form-background-color);
    color: var(--text-color);
}

.login-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: var(--form-background-color);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.login-card .card-title {
    margin-bottom: 20px;
    color: var(--text-color);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: var(--text-color);
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--secondary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #FFBB54;
}

.registration-text a {
    color: var(--text-color);
}
