.custom-input {
    max-width: 300px;
}

.custom-btn {
    width: auto;
    max-width: 40px;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.no-caret::after {
    display: none !important;
}

.form-group {
    margin-bottom: 15px;
}


.select2-container {
    z-index: 9999 !important;
}
